.app-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 60px 1fr 90px;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: #000000;
    color:white;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #6c3e00;
    padding: 1rem; /*1rem =16px*/
}

.topbar {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #000000;
    padding: 1rem;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #76ff00;
    padding: 1rem;
    overflow-y: auto; /*jeśli treść w środku będzie wyższa niż dostępne miejsce 1fr -> dodaje pasek przewijania*/
}

.player-bar {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: #023eff;
    padding: 1rem;
    border-top: 1px solid #ff0000;
}