.app-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 60px 1fr 60px;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: #000000;
    color: white;
}