.app-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 60px 1fr 90px;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: #000;
    color:white;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #000;
    padding: 1rem;
}

.topbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #101010;
    padding: 1rem;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #121212;
    padding: 1rem;
    overflow-y: auto;
}

.player-bar {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: #181818;
    padding: 1rem;
    border-top: 1px solid #282828;
}