.media-card-link {
    text-decoration: none;
    color: inherit;
}

/* Główny kontener karty */
.media-card {
    background-color: transparent;

    border-radius: 8px;
    padding: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
}

.media-card:hover {
    background-color: #181818;
}

/* Obrazek */
.media-card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Kontener na tekst */
.media-card-info {
    min-height: 60px;
}

/* Tytuł karty */
.media-card-title {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0 0 0.25rem 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Podtytuł */
.media-card-subtitle {
    font-size: 0.9rem;
    color: #b3b3b3;
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}